
body {
    background-color: white;
    font-family: 'Roboto Black', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #373737;
    letter-spacing: 0.2em;
}
a, a:hover, a:link {
    text-decoration: none;
}

.container {
    width: 1280px;
    margin: 0 auto;} 

.image {
    background-image: url(../images/top-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 790px;
}

.text {
    text-align: center;
    padding-top: 60px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 96px;
    line-height: 26px; 
    
       
}
.back {
    background-color: #f5f6f7;
}
h1 {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 36px;
}

.navbar-nav {
    margin: 0 auto;
    width: 920px;
    }
.navbar-nav-item {
    display: inline-block;
    margin: 30px;
    }
.navbar-nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #16a085;
    }

.mr48 {
    margin-bottom: 48px
}

.green-btn {
    background-color: #16a085;
    padding: 24px 44px;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.footer {
    float: right;
    margin-right: 104px;
    margin-top: 46px;
    margin-bottom: 46px;
    font-size: 16px;

}





