body {
    background: url("../img/milan-bg.jpg") no-repeat;
    background-size: cover;
}
.container {
    width: 1062px;
    margin: 0px auto;
}
.clearfix {
    clear: both;
}

/*HEADER START*/

.header {
    margin-top: 48px;
    margin-bottom: 48px;
    height: 46px;
}

.header-logo {
    display: inline-block;
    float: left;
}

.header-logo-link {
    display: inline-block;
    width: 200px;
    height: 46px;
    padding-left: 62px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat; 
    text-decoration: none;
    color: #ffffff;
}

.header-logo-link:hover {
    background-image: url(../img/logo-hover.png);
    color: #f26522;
}

.header-logo-text-big {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
}

.header-logo-text-small {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.header-contacts {
    float: right;
    text-align: right;    
}

.header-contact-text {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    margin-top: 6px;
}

/*HEADER END*/

/*TOURS START*/

.tour-type {
    float: left;
    margin-right: 65px;
    margin-bottom: 38px;
    height: 260px;
}

.tour-type:nth-child(3n) {
    margin-right: 0;
}

.tour-preview {
    display: block;
    width: 309px;
    height: 260px;
    text-decoration: none;
}
.tour-preview:hover .tour-detailes {
    top: 140px;
}

.tour-img {
    position: relative;    
    background-repeat: no-repeat;
    width: 309px;
    height: 202px;
    border: 2px solid;
    border-image: linear-gradient(to bottom, #ffffff, #000000);
    border-image-slice: 1;   
    box-sizing: border-box;
    box-shadow: 0px 17px 24px 0px #000000;
}

.shopping-tours {
    background-image: url(../img/shopping-tours.png);
}

.sightseeing-tours {
    background-image: url(../img/sightseeing-tours.png);
}

.food-tours {
    background-image: url(../img/food-tours.png);
}

.bars-nightlife {
    background-image: url(../img/bars-nightlife.png);
}

.art-architecture {
    background-image: url(../img/art-architecture.png);
}

.walking-tours {
    background-image: url(../img/walking-tours.png);
}

.tour-box {
    position: relative; 
    width: 309px;
    height: 198px;
    left: -2px;
    top: 2px;
    overflow: hidden;
}

.tour-detailes {
    position: relative;
    top: 198px;
    height: 64px;
    background-color: #f26522;
    transition: 0.5s;
    padding: 16px 18px 17px 22px;
}

.tour-detailes-view {
    float: right;
    text-align: right;
    padding-top: 16px;
}

.tour-detailes-view-link {    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.tour-detailes-view-link::after {
    content: url('../img/view-arrow.png');
}

.tour-price {
    float: left;
    width: 50%;
}

.tour-price-subtitle {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: #ffffff
}

.tour-price-amount {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #ffffff
}

.tour-name {
    display: block;
    height: 50px;
    top: -250px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    margin: 20px;
}

.tour-preview:hover .tour-name  {
    color: #f26522;
}

/*TOURS END*/

/*FOOTER START*/

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.copyright {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}

/*FOOTER END*/
