
body {
    background-color: white;
    font-family: Myriad Pro, sans-serif;
    font-size: 18px;
    color: #2c2c2c;
}
a, a:hover, a:link {
    text-decoration: none;
}
span {
    color: #000000
}

.content {
    width: 1280px;
    margin: auto;
    vertical-align: top;}   

/*logo start*/
.logo {
    height:180px;
    font-size: 80px;
    padding-top: 60px
}

.blue {
    color:#4bcaff;}
/*logo end*/


/*navbar start*/
.navbar {
    background-color: #35444f;
    text-align: center
}

#menu, #menu li {
    margin: 0; 
    padding: 0;
}

#menu li{

    display:inline-block;
    text-align: center;
}

#menu a {

    display: block;
    padding: 26px 40px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    border-left: solid 1px #35444f;
    border-right: solid 1px #35444f;

}

#menu a:hover {
    background: #222f3a;
    border-left: solid 1px #818181;
    border-right: solid 1px #818181;
}
/*navbar end*/

/*sidebar start*/
#menu2, #menu2 li {
    margin: 0; 
    padding: 0; 
}


#menu2 li{
    display:block;
    text-align: left;
}

#menu2 a {
    display: block;
    padding: 28px 42px;
    color: #485863;
    font-size: 27px;
    text-decoration: none;
}

#menu2 a:hover {
    background: #dbdbdb;
    color: #000000
}

#menu2 li.selected {
    background: #dbdbdb;
    color: #000000;    
    font-size: 27px;
    padding: 28px 65px;

}
.border {
    border: solid 1px #35444f;
    width: 344px;
    float: left;
    margin-right: 50px
}
/*sidebar end*/


/*right side start*/
.img-right {  
    float: left;
    border: solid 1px #35444f;
    width: 880px
}
.image {
    overflow:hidden;
    width: 415px;
    height:527px;   
    margin: auto;
    }

.image img {
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
        }
        
.image img:hover{
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
}
.text {
    float: right; 
    width: 850px;
    font-size: 18px;
    padding: 50px 30px
}
/*right side end*/


/*footer start*/   
.footer {
    background-color: #b4b7ba;
    padding: 22px 42px;
    font-size: 28px;
    height: 30px;
    clear: both;
}
.footer a {
    margin-right: 20px;
    color: #000000
}
.footer a:hover {
    color: #3181a6;
    text-decoration: underline
}
.footer span.selected {
    color: #3181a6;
    text-decoration: underline;
    margin-right: 20px;
}
.footermenu {
    float: left;
}
.copyright {
    float: right
}
/*footer end*/